* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sigmar", cursive;
  font-weight: normal;
}
body {
  background-color: rgb(226, 221, 221);
}
/*Cabeçalho*/
header:first-child {
  padding: 16px 10px;
  background-color: #a52a2a;
}
header .conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header:first-child h1 {
  color: aliceblue;
  font-size: 40px;
}

header:first-child li {
  display: inline;
  margin-left: 16px;
  font-size: 18px;
}
header:first-child a {
  color: aliceblue;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  margin-right: 15px;
}
.conteiner a:hover {
  text-decoration: underline;
}
/*Seção Sobre*/
.conteiner {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
#Sobre .conteiner img {
  width: 20%;
  border-radius: 5%;
  margin-left: 100px;
  margin-top: 50px;
}
header .conteiner,
section .conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#Sobre .conteiner p {
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
section h2 {
  margin-bottom: 16px;
}
section p {
  margin-bottom: 8px;
}
.pizza_img {
  margin-right: 32px;
}
/*Rodapé*/

#Contato {
  margin-top: 70px;
  transform: scale(0.9);
}

#Contato .conteiner{
  display: block;
}
form input,
button, textarea{
  display: block;
  width: 320px;
  margin-bottom: 8px;
  padding: 8px;
  font-family: "Oswald", sans-serif;
}

.redes_socias img, li{
  height: 24px;
  display: inline;
  margin: 5px;
}
.metodos_contato{
  display: flex;
  justify-content: space-between;
}

form textarea {
  resize: none;
  height: 100px;
}
section h3{
  margin-bottom: 16px;
}
form button {
  background: #a52a2a;
  color: #ffff;
  border: none;
  cursor: pointer;
}
form button:hover{
  background-color: #b84f4f;
}
input:focus, textarea{
  outline-color:  #b84f4f;
}

footer {
  margin-top: 50px;
}

footer p{
  background-color: #b84f4f;
  color: #ffff;
  padding: 16px 0; 
  font-family: "Oswald", sans-serif;
}
address{
  font-family: "Oswald", sans-serif;
}